Repository Automattic/newspack-ads, pull requests merged in 2020-07, with the labels that each got.

#49 Lazy load ads in non-AMP mode
  includes/class-newspack-ads-blocks.php
Labels: [Status] Approved

#50 Don't define slots that aren't present, refactor non-AMP GAM script
  includes/class-newspack-ads-blocks.php
Labels: [Status] Approved, bug

#52 Release 07/07/2020
  includes/class-newspack-ads-blocks.php
Labels: [Status] Needs Review

#54 Fix PHP tests
  .circleci/config.yml
  bin/install-wp-tests.sh
Labels: [Status] Needs Review

#56 Remove unnecessary, early ad display calls
  includes/class-newspack-ads-model.php
Labels: [Status] Approved, bug

#57 Release Jul 22
  .circleci/config.yml
  bin/install-wp-tests.sh
  includes/class-newspack-ads-model.php
Labels: [Status] Needs Review

#58 Automatic responsive ad handling for non-AMP mode.
  includes/class-newspack-ads-blocks.php
  src/blocks/ad-unit/view.php
Labels: [Status] Approved
