Repository Automattic/newspack-ads, pull requests merged in 2020-12, with the labels that each got.

#88 Add Gutenberg icon and replace Material
  .gitignore
  package-lock.json
  package.json
  src/blocks/ad-unit/index.js
  src/setup/newspack-logo.js
Labels: [Status] Approved

#90 Release – Dec. 8
  .gitignore
  package-lock.json
  package.json
  src/blocks/ad-unit/index.js
  src/setup/newspack-logo.js
Labels: [Status] Needs Design Review

#91 Improve responsive ad handling in non-AMP mode
  includes/class-newspack-ads-blocks.php
Labels: [Priority] High, [Status] Approved, bug, enhancement

#94 Release – Dec. 15
  includes/class-newspack-ads-blocks.php
Labels: [Status] Approved
