Repository Automattic/newspack-ads, pull requests merged in 2020-08, with the labels that each got.

#59 Dont show ads on viewports smaller than smallest ad size
  includes/class-newspack-ads-blocks.php
Labels: [Priority] High, [Status] Needs Review, bug

#64 Release Aug 04
  includes/class-newspack-ads-blocks.php
  src/blocks/ad-unit/view.php
Labels: [Status] Approved

#61 Build: change release zip structure
  .circleci/config.yml
  .distignore
  composer.json
  composer.lock
  package.json
Labels: [Status] Needs Review

#67 Release Aug 11
  .circleci/config.yml
  .distignore
  composer.json
  composer.lock
  package.json
Labels: [Status] Approved

#68 Remove redundant responsive ad handling
  includes/class-newspack-ads-blocks.php
  includes/class-newspack-ads-model.php
Labels: [Status] Needs Review

#69 Release Aug 18
  includes/class-newspack-ads-blocks.php
  includes/class-newspack-ads-model.php
Labels: [Status] Approved
