Repository Automattic/newspack-ads, pull requests merged in 2020-03, with the labels that each got.

#25 Allow for valid characters in the ad unit code
  includes/class-newspack-ads-model.php
Labels: [Status] Approved

#26 Add ability to exclude posts and pages from ads
  includes/class-newspack-ads-blocks.php
  includes/class-newspack-ads-widget.php
  includes/class-newspack-ads.php
  includes/suppress-ads.php
  src/blocks/ad-unit/view.php
  src/suppress-ads/index.js
  webpack.config.js
Labels: [Status] Approved

#29 Bump version for release
  includes/class-newspack-ads.php
  newspack-ads.php
Labels: [Status] Needs Review

#27 fix: placeholder box-shadow and background color since gutenberg 7.7
  package-lock.json
  package.json
  src/blocks/ad-unit/editor.scss
Labels: [Status] Approved

#32 Add semantic release
  .circleci/config.yml
  .eslintrc.js
  .stylelintrc
  README.md
  commitlint.config.js
  composer.json
  composer.lock
  includes/class-newspack-ads-blocks.php
  includes/class-newspack-ads.php
  package-lock.json
  package.json
  phpcs.xml
  src/blocks/ad-unit/edit.js
  src/blocks/ad-unit/editor.scss
  src/blocks/ad-unit/index.js
  src/setup/newspack-logo.js
  src/setup/public-path.js
  src/suppress-ads/index.js
  tests/class-newspack-ads-unit-tests-bootstrap.php
Labels: [Status] Approved

#33 Release 3/24/2020
  .circleci/config.yml
  .eslintrc.js
  .stylelintrc
  README.md
  commitlint.config.js
  composer.json
  composer.lock
  includes/class-newspack-ads-blocks.php
  includes/class-newspack-ads-model.php
  includes/class-newspack-ads-widget.php
  includes/class-newspack-ads.php
  package-lock.json
  package.json
  phpcs.xml
  src/blocks/ad-unit/edit.js
  src/blocks/ad-unit/editor.scss
  src/blocks/ad-unit/index.js
  src/setup/newspack-logo.js
  src/setup/public-path.js
  src/suppress-ads/index.js
  tests/class-newspack-ads-unit-tests-bootstrap.php
Labels: [Status] Approved

#35 fix: unique IDs for responsive ads
  includes/class-newspack-ads-blocks.php
  includes/class-newspack-ads-model.php
Labels: [Status] Approved, bug
