Repository Automattic/newspack-ads, pull requests merged in 2020-09, with the labels that each got.

#74 Update argument order in implode function
  includes/class-newspack-ads-blocks.php
Labels: [Status] Approved

#72 Optimize amp-ads for viewability.
  includes/class-newspack-ads-model.php
Labels: [Status] Approved

#77 Release Sep 15
  .circleci/config.yml
  includes/class-newspack-ads-blocks.php
  includes/class-newspack-ads-model.php
  package-lock.json
Labels: [Status] Approved

#78 Add common ad targeting settings to ad units
  includes/class-newspack-ads-blocks.php
  includes/class-newspack-ads-model.php
Labels: [Status] Approved, enhancement

#80 Release Sep 29
  includes/class-newspack-ads-blocks.php
  includes/class-newspack-ads-model.php
Labels: [Status] Needs Review
