Repository Automattic/newspack-ads, pull requests merged in 2020-01, with the labels that each got.

#15 Ad Model Improvements
  includes/class-newspack-ads-blocks.php
  includes/class-newspack-ads-model.php
  includes/class-newspack-ads-widget.php
  includes/class-newspack-ads.php
  src/blocks/ad-unit/edit.js
  src/blocks/ad-unit/view.php
  tests/unit-tests/class-newspack-ads-tests-model.php
Labels: [Status] Approved

#17 Support for Node v.12, Cleaner Build Script Naming
  README.md
  package-lock.json
  package.json
Labels: Infrastructure, [Status] Approved

#19 Responsive Ads
  includes/class-newspack-ads-blocks.php
  includes/class-newspack-ads-model.php
  phpcs.xml
Labels: [Status] Approved

#22 Bump Version To 1.0.0-alpha.3
  newspack-ads.php
Labels: Version Bump, [Status] Approved

#20 Update the block icon to match Newspack Plugin's Advertising icon
  src/blocks/ad-unit/index.js
Labels: [Status] Approved
