Repository Automattic/newspack-ads, pull requests merged in 2021-02, with the labels that each got.

#98 Add multisizes to non-responsive AMP ads.
  includes/class-newspack-ads-model.php
Labels: [Status] Approved

#109 fix: limit multisizes of sticky ads
  includes/class-newspack-ads-model.php
Labels: [Status] Approved, bug

#112 Release Feb 24
  includes/class-newspack-ads-model.php
Labels: [Status] Needs Review
