Repository Automattic/newspack-ads, pull requests merged in 2022-01, with the labels that each got.

#272 chore(deps): implement dependabot auto-merge
  .github/workflows/auto-merge.yml
Labels: [Status] Approved, dependencies

#273 chore(deps): googleads-php-lib from v202102 to v202111
  composer.json
  composer.lock
  includes/class-newspack-ads-gam.php
Labels: [Status] Approved

#274 fix(header-bidding): disable initial load for gtag
  includes/class-newspack-ads-bidding.php
Labels: [Status] Approved

#277 fix: ad unit error handling
  includes/class-newspack-ads-gam.php
Labels: [Status] Approved

#279 chore: add CODEOWNERS file
  .github/CODEOWNERS
Labels: [Status] Approved

#276 chore: update post-release job to pull changelog and semver changes
  .circleci/config.yml
  CHANGELOG.md
Labels: [Status] Approved

#282 fix(placements): ensure active placement have ID
  includes/class-newspack-ads-placements.php
Labels: bug, [Status] Approved

#284 Release Jan 18
  .circleci/config.yml
  .github/CODEOWNERS
  .github/workflows/auto-merge.yml
  CHANGELOG.md
  composer.json
  composer.lock
  includes/class-newspack-ads-bidding.php
  includes/class-newspack-ads-gam.php
  includes/class-newspack-ads-placements.php
  includes/class-newspack-ads-sidebar-placements.php
  newspack-ads.php
  package-lock.json
  package.json
Labels: [Status] Approved

#285 Post-release 1/19/2022
  CHANGELOG.md
  newspack-ads.php
  package-lock.json
  package.json
Labels: [Status] Approved

#292 feat: custom ad label
  includes/class-newspack-ads-custom-label.php
  includes/class-newspack-ads-settings.php
  includes/class-newspack-ads.php
Labels: [Status] Approved

#286 chore: use newspack-scripts
  .circleci/config.yml
  .eslintignore
  .eslintrc.js
  .stylelintrc
  babel.config.js
  commitlint.config.js
  composer.json
  config/pbjsGlobals.js
  package-lock.json
  package.json
  src/blocks/ad-unit/edit.js
  src/setup/newspack-logo.js
  webpack.config.js
Labels: [Status] Approved

#294 fix: ad label default value
  includes/class-newspack-ads-custom-label.php
Labels: [Status] Approved

#281 fix: use responsive strategy for scaip placements on amp
  includes/class-newspack-ads-placements.php
  includes/class-newspack-ads-scaip.php
Labels: [Status] Approved

#271 feat(header-bidding): gam orders and line items push
  includes/class-newspack-ads-bidding-gam.php
  includes/class-newspack-ads-bidding.php
  includes/class-newspack-ads-gam.php
  includes/class-newspack-ads-settings.php
  includes/class-newspack-ads.php
  package-lock.json
  package.json
  src/wizard-settings/header-bidding-gam/index.js
  src/wizard-settings/header-bidding-gam/style.scss
  webpack.config.js
Labels: [Status] Approved

#300 Release Jan 31
  .circleci/config.yml
  .eslintignore
  .eslintrc.js
  .stylelintrc
  CHANGELOG.md
  babel.config.js
  commitlint.config.js
  composer.json
  config/pbjsGlobals.js
  includes/class-newspack-ads-bidding-gam.php
  includes/class-newspack-ads-bidding.php
  includes/class-newspack-ads-custom-label.php
  includes/class-newspack-ads-gam.php
  includes/class-newspack-ads-placements.php
  includes/class-newspack-ads-scaip.php
  includes/class-newspack-ads-settings.php
  includes/class-newspack-ads.php
  newspack-ads.php
  package-lock.json
  package.json
  src/blocks/ad-unit/edit.js
  src/setup/newspack-logo.js
  src/wizard-settings/header-bidding-gam/index.js
  src/wizard-settings/header-bidding-gam/style.scss
  webpack.config.js
Labels: [Status] Approved

#301 hotfix: gam serialised method arg
  CHANGELOG.md
  includes/class-newspack-ads-gam.php
  newspack-ads.php
  package-lock.json
  package.json
Labels: bug, [Status] Approved
