Repository Automattic/newspack-ads, pull requests merged in 2022-03, with the labels that each got.

#307 feat: apply custom label to ad unit block and widget
  includes/class-newspack-ads-custom-label.php
Labels: [Status] Approved

#313 feat: Ads providers and Broadstreet integration
  includes/class-newspack-ads-bidding.php
  includes/class-newspack-ads-blocks.php
  includes/class-newspack-ads-model.php
  includes/class-newspack-ads-placements.php
  includes/class-newspack-ads-providers.php
  includes/class-newspack-ads-widget.php
  includes/class-newspack-ads.php
  includes/providers/broadstreet/class-newspack-ads-broadstreet-provider.php
  includes/providers/class-newspack-ads-provider.php
  includes/providers/gam/class-newspack-ads-gam-provider.php
  includes/providers/gam/class-newspack-ads-gam.php
  includes/providers/interface-newspack-ads-provider.php
  includes/suppress-ads.php
  src/blocks/ad-unit/view.php
  tests/class-newspack-ads-test-provider.php
  tests/test-providers.php
Labels: [Status] Approved

#325 fix(header-bidding): ensure sizes for creative placeholders
  includes/class-newspack-ads-bidding.php
  includes/providers/gam/class-newspack-ads-gam.php
Labels: bug, [Status] Approved

#326 Release Mar 08
  CHANGELOG.md
  config/pbjsGlobals.js
  includes/bidders/class-newspack-ads-bidder-openx.php
  includes/class-newspack-ads-bidding-gam.php
  includes/class-newspack-ads-bidding.php
  includes/class-newspack-ads-custom-label.php
  includes/class-newspack-ads-gam.php
  includes/class-newspack-ads-settings.php
  includes/class-newspack-ads-sidebar-placements.php
  newspack-ads.php
  package-lock.json
  package.json
  src/wizard-settings/header-bidding-gam/index.js
  src/wizard-settings/header-bidding-gam/order-popover.js
  src/wizard-settings/header-bidding-gam/order.js
  webpack.config.js
Labels: [Status] Approved

#327 fix: bad post-release merge
  CHANGELOG.md
  newspack-ads.php
  package-lock.json
  package.json
Labels: bug, [Status] Approved

#328 fix: prevent empty bidder unit id
  includes/class-newspack-ads-bidding.php
Labels: [Status] Approved

#329 refactor: unify responsive size map
  includes/class-newspack-ads-blocks.php
  includes/class-newspack-ads-model.php
  tests/test-model.php
Labels: [Status] Approved

#322 feat: ad unit block as a dynamic placement
  includes/class-newspack-ads-blocks.php
  includes/class-newspack-ads-custom-label.php
  includes/class-newspack-ads-placements.php
  includes/class-newspack-ads-scaip.php
  includes/class-newspack-ads-sidebar-placements.php
  includes/providers/broadstreet/class-newspack-ads-broadstreet-provider.php
  includes/providers/class-newspack-ads-provider.php
  includes/providers/gam/class-newspack-ads-gam-provider.php
  includes/providers/interface-newspack-ads-provider.php
  package-lock.json
  package.json
  src/blocks/ad-unit/edit.js
  src/blocks/ad-unit/editor.scss
  src/blocks/ad-unit/index.js
  src/blocks/ad-unit/view.php
  src/placements/placement-control.js
  tests/class-newspack-ads-test-provider.php
Labels: [Status] Approved

#345 Update README.md
  README.md
Labels: [Status] Approved

#347 Release Mar 22
  .circleci/config.yml
  CHANGELOG.md
  includes/class-newspack-ads-bidding.php
  includes/class-newspack-ads-blocks.php
  includes/class-newspack-ads-custom-label.php
  includes/class-newspack-ads-model.php
  includes/class-newspack-ads-placements.php
  includes/class-newspack-ads-providers.php
  includes/class-newspack-ads-scaip.php
  includes/class-newspack-ads-sidebar-placements.php
  includes/class-newspack-ads-widget.php
  includes/class-newspack-ads.php
  includes/providers/broadstreet/class-newspack-ads-broadstreet-provider.php
  includes/providers/class-newspack-ads-provider.php
  includes/providers/gam/class-newspack-ads-gam-provider.php
  includes/providers/gam/class-newspack-ads-gam.php
  includes/providers/interface-newspack-ads-provider.php
  includes/suppress-ads.php
  newspack-ads.php
  package-lock.json
  package.json
  src/blocks/ad-unit/view.php
  tests/class-newspack-ads-test-provider.php
  tests/test-providers.php
Labels: [Status] Approved

#349 fix(placements): add action hook
  includes/class-placements.php
Labels: [Status] Approved

#350 fix(gam): consider size map viewport count for responsive strategy
  includes/providers/gam/class-gam-model.php
  includes/providers/gam/class-gam-provider.php
Labels: [Status] Approved

#351 fix(placements): remove default ad unit
  includes/class-placements.php
Labels: [Status] Needs Review

#352 fix(gam): remove unused gpt script
  includes/providers/gam/class-gam-scripts.php
Labels: [Status] Approved

#346 feat: integrate ad refresh control plugin
  includes/class-core.php
  includes/integrations/class-ad-refresh-control.php
Labels: [Status] Approved
