Repository Automattic/newspack-ads, pull requests merged in 2022-02, with the labels that each got.

#302 hotfix: reindex filtered sizes
  CHANGELOG.md
  includes/class-newspack-ads-bidding.php
  newspack-ads.php
  package-lock.json
  package.json
Labels: bug, [Status] Approved

#297 feat: add template targeting key
  includes/class-newspack-ads-gam.php
  includes/class-newspack-ads-model.php
Labels: [Status] Approved

#296 fix: dont query inactive ad units
  includes/class-newspack-ads-gam.php
Labels: [Status] Approved

#308 hotfix: gam targeting keys names are case-insensitive
  CHANGELOG.md
  includes/class-newspack-ads-gam.php
  newspack-ads.php
  package-lock.json
  package.json
Labels: [Status] Approved

#309 chore: DOM nesting in a React component
  src/wizard-settings/header-bidding-gam/index.js
Labels: [Status] Approved

#290 feat: add OpenX, PubMatic and Sovrn to header bidding
  includes/bidders/class-newspack-ads-bidder-medianet.php
  includes/bidders/class-newspack-ads-bidder-openx.php
  includes/bidders/class-newspack-ads-bidder-pubmatic.php
  includes/bidders/class-newspack-ads-bidder-sovrn.php
  includes/class-newspack-ads-bidding.php
  includes/class-newspack-ads-settings.php
  includes/class-newspack-ads.php
  src/prebid/index.js
  tests/test-bidding.php
Labels: [Status] Approved

#314 chore: update Prebid.js
  config/pbjsGlobals.js
  package-lock.json
  package.json
  webpack.config.js
Labels: [Status] Approved

#315 Release Feb 22
  CHANGELOG.md
  includes/bidders/class-newspack-ads-bidder-medianet.php
  includes/bidders/class-newspack-ads-bidder-openx.php
  includes/bidders/class-newspack-ads-bidder-pubmatic.php
  includes/bidders/class-newspack-ads-bidder-sovrn.php
  includes/class-newspack-ads-bidding.php
  includes/class-newspack-ads-gam.php
  includes/class-newspack-ads-model.php
  includes/class-newspack-ads-settings.php
  includes/class-newspack-ads.php
  newspack-ads.php
  package-lock.json
  package.json
  src/prebid/index.js
  src/wizard-settings/header-bidding-gam/index.js
  tests/test-bidding.php
Labels: [Status] Needs Review

#310 feat(header-bidding): multiple gam orders
  includes/class-newspack-ads-bidding-gam.php
  includes/class-newspack-ads-gam.php
  src/wizard-settings/header-bidding-gam/index.js
  src/wizard-settings/header-bidding-gam/order-popover.js
  src/wizard-settings/header-bidding-gam/order.js
Labels: [Status] Approved

#317 feat(header-bidding): enable user syncing through iframes for OpenX
  includes/bidders/class-newspack-ads-bidder-openx.php
Labels: [Status] Approved

#318 Capitalise labels
  includes/class-newspack-ads-custom-label.php
  includes/class-newspack-ads-settings.php
  includes/class-newspack-ads-sidebar-placements.php
Labels: [Status] Approved

#321 ci: use newspack orb
  .circleci/config.yml
Labels: [Status] Approved

#319 fix: use ad unit size count for determining responsive amp ads strategy
  includes/class-newspack-ads-blocks.php
  includes/class-newspack-ads-model.php
  includes/class-newspack-ads-scaip.php
  includes/class-newspack-ads-sidebar-placements.php
Labels: [Status] Approved
