Repository Automattic/newspack-ads, pull requests merged in 2024-08, with the labels that each got.

#860 fix: refactor for updating dependencies in newspack-scripts
  .gitignore
  .nvmrc
  .prettierignore
  .prettierrc
  .prettierrc.js
  .stylelintrc.js
  includes/bidders/class-medianet.php
  package-lock.json
  package.json
  src/blocks/ad-unit/editor.scss
  src/frontend/style.scss
  src/placements/placement-control.js
  src/wizard-settings/header-bidding-gam/index.js
  src/wizard-settings/header-bidding-gam/order-popover.js
  src/wizard-settings/header-bidding-gam/order.js
  src/wizard-settings/header-bidding-gam/style.scss
  webpack.config.js
Labels: [Status] Approved, dependencies

#884 Release Aug 12
  .gitignore
  .nvmrc
  .prettierignore
  .prettierrc
  .prettierrc.js
  .stylelintrc.js
  composer.lock
  includes/bidders/class-medianet.php
  includes/class-core.php
  includes/integrations/class-complianz.php
  newspack-ads.php
  package-lock.json
  package.json
  src/blocks/ad-unit/editor.scss
  src/frontend/style.scss
  src/placements/placement-control.js
  src/wizard-settings/header-bidding-gam/index.js
  src/wizard-settings/header-bidding-gam/order-popover.js
  src/wizard-settings/header-bidding-gam/order.js
  src/wizard-settings/header-bidding-gam/style.scss
  webpack.config.js
Labels: [Status] Needs Review

#888 fix(gam): add 1x1 size to all viewports
  includes/providers/gam/class-gam-model.php
Labels: [Status] Approved

#891 fix(gam): add 1x1 size to all viewports for ad units that supports it
  includes/providers/gam/class-gam-model.php
Labels: [Status] Approved

#894 feat(media-kit): add media kit (from publisher-media-kit plugin)
  includes/blocks/class-ad-unit-block.php
  includes/blocks/class-tabs-block.php
  includes/blocks/class-tabs-item-block.php
  includes/class-core.php
  includes/class-widget.php
  includes/media-kit/assets/images/cover.jpg
  includes/media-kit/assets/images/icon-audience.png
  includes/media-kit/assets/images/icon-capabilities.png
  includes/media-kit/assets/images/icon-measure.png
  includes/media-kit/assets/images/icon-visibility.png
  includes/media-kit/assets/images/image.jpg
  includes/media-kit/block-patterns/ad-specs.php
  includes/media-kit/block-patterns/audience.php
  includes/media-kit/block-patterns/contact-compact.php
  includes/media-kit/block-patterns/contact.php
  includes/media-kit/block-patterns/intro.php
  includes/media-kit/block-patterns/packages.php
  includes/media-kit/block-patterns/rates.php
  includes/media-kit/block-patterns/why-us.php
  includes/media-kit/class-media-kit-block-patterns.php
  includes/media-kit/class-media-kit.php
  newspack-ads.php
  package-lock.json
  package.json
  src/blocks/tabs-item/block.json
  src/blocks/tabs-item/edit.js
  src/blocks/tabs-item/editor.js
  src/blocks/tabs/block.json
  src/blocks/tabs/edit.js
  src/blocks/tabs/editor.js
  src/blocks/tabs/editor.scss
  src/blocks/tabs/style.scss
  src/blocks/utils/createFilterableComponent.js
  src/blocks/utils/register-block.js
  src/media-kit/index.js
  webpack.config.js
Labels: [Status] Needs Review
